h2 {
    margin-top:20px;
    font-size: 2rem;  
    color: #06d11ecc;
    text-align: center;
    margin-bottom: 20px;
    background-color: aquamarine;
}

.subtitulo {
    font-family: 'Verdana', sans-serif;
    margin-bottom: 1rem;
    text-align: center;
}

.texto-parrafo {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: center;
    margin-top: 20px;
}

body {
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
    text-align: center;
}

.footer {
    background-color: #4d96df;     
    color: #000000;              
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
}