{% extends "base.html" %}

{% block title %}Inicio de Sesión{% endblock %}

{% block content %}
<div style="min-height: calc(100vh - 200px); padding: 20px 0;">
    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="card shadow-sm rounded-3 mb-5" style="width: 400px;">
            <div class="card-body rounded-3 border border-3 border-success" style="background-color: rgb(195, 250, 183)">
                <h3 class="text-center mt-3 mb-4" style="font-family: Times New Roman">Iniciar Sesión</h3>
                
                <form action="/iniciandoSesion" method="post">
                    <div class="mb-3">
                        <label for="correo" class="form-label" style="font-family: Times New Roman">Correo electrónico</label>
                        <input type="email" class="form-control" id="correo" name="correo" value="{{ request.form.get('correo', '') }}" required placeholder="Correo electrónico">
                    </div>

                    <div class="mb-3">
                        <label for="contraseña" class="form-label" style="font-family: Times New Roman">Contraseña</label>
                        <input type="password" class="form-control" id="contraseña" name="contraseña" required placeholder="Contraseña">
                    </div>

                    <div class="text-center mt-4 mb-1">
                        <button type="submit" class="btn btn-success fw-bold mb-3">Iniciar sesión</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}